{
    "apikey":"secret",
    "username":"pavlukivan",
    "osubase":"/home/pavlukivan/Games/osu/bancho",
    "mode":1,
    "onlineBeatmapCache":"tmp_beatmapList.json",
    "onlineScoreCache":"tmp_scores.json"
}
