{
    "apikey":"no",
    "username":"pavlukivan",
    "osubase":"/home/pavlukivan/Games/osu/bancho",
    "mode":1,
    "onlineBeatmapCache":"data/beatmapList.json",
    "onlineScoreCache":"data/scores.json",
    "scoresBackup":"data/scores.db"
    "replaysDir":"data/replays"
}
