{
    "apikey":"no",
    "username":"pavlukivan",
    "osubase":"/home/pavlukivan/Games/osu/bancho",
    "mode":1,
    "onlineBeatmapCache":"data/tmp_beatmapList.json",
    "onlineScoreCache":"data/tmp_scores.json",
    "scoresBackup":"data/tmp_scores.db"
}
